/* Normalizacion */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM sans', sans-serif;
}

.header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 10px;
    width: 100vh;
    align-items: center;


}

.bi-check-square{
    color:green;
    padding:0px 5px;

}


.seccion-migracion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 20px;
    ;
    background-color: #1F1346;
    gap: 20px;
    font-size: 16px;
    font-weight: 400;


}

.seccion-migracion-contenido {
    width: 1128px;
    height: 853px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;



}

.migracion-cartas {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: left;
    padding: 20px;
    justify-content: space-between;
    color: #ffffff
}

.migracion-carta {
    background-color: #2F1C6A;
    border-radius: 15px;
    border: 1px solid #2F1C6A;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.icono-migracion-carta {
    display: flex;
    flex-direction: row;
    gap: 10px;

    background-color: #673de6;
    border-radius: 10px;
    width: 35px;
    padding: 5px;
    text-align: center;
}



.titulo-migracion-header {
    color: #1d1e20;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.parrafo-migracion-header {
    color: #1d1e20;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}





/*.migracion-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:#ffffff;
    justify-content: center;
    padding: 10px;
    
}*/

.hero-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    padding: 10px;

}

.kode {
    color: white;
    background-color: #673DE6;
    border-radius: 50px;
    font-size: 14px;
    padding: 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    position: fixed;
    right: 16px;
    bottom: 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-migracion {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.secondary-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    color: white;
    padding: 11px 47px;

}

.secondary-btn a {
    font-weight: 700;
    color: #ffffff;
    /*padding: 11 px 47px;*/
    text-align: center;
    text-decoration: none;

}

.secondary-btn:hover {
    background-color: #e0d9fa;
    cursor: pointer;
}

.titulo-migracion {
    text-align: center;
    color: #ffffff;
}




/*Section Hero*/

.hero {
    /*display: flex;
    justify-content: center;
    align-items: center;
   */
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 20px 0 20px ;



}

.bi-star-fill{
    color:green;
}


.hero-content {
    /* width: 1128px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items:flex-start;
    max-width: 45%;
    */
    width: 1800px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    justify-content: space-between;
}



.carta-lista {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    gap: 10px;
    
  

}


.carta-titulo {
    color: #1d1e20;
    font-size: 36px;
    

}