
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Normalizacion */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM sans', sans-serif;
}

.body{
    width:100%;
    overflow: hidden;
}

.main{
    width:100%;
    overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*HEADER*/

.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 40px;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid #eaeaea;   
    position:sticky;
    top: 0;
    width: 100vw; 
   
}

.header-izquierdo{
    display: flex;    
    align-items: center;
    justify-content: end;
    gap:15px;

}

.bi-chevron-down{
    color:#1d1d1d;
    gap: 0 2px;
    font-size: 15px;
}

.logo{
    display: flex;
    align-items: center;
}


.logo img {
    height: 40px;
    cursor: pointer;   
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    gap: 25px;
    
}

.nav a:hover {
    color: #673DE6;
}


.header-derecho{    
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: start;
    
}

.lang {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    color: #1d1d1d;
    cursor: pointer;
    font-weight: bold;
}

.lang a{
    text-decoration:none;
    color:black;
}

.lang img {
    width: 30px;
    height:20px;
    border-radius: 3px;
}

.mi-cuenta{
    background-color: #fff;
    border: 1.5px solid #673DE6;
    color: #673DE6;
    font-weight: 60px;
    padding: 12px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.mi-cuenta:hover {
    background-color: #673DE6;
    color: #fff;
}

/*SECTION MIGRACION*/

.seccion-migracion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #1F1346;
    gap: 20px;
    font-size: 16px;
    font-weight: 400;
    }

.seccion-migracion-contenido {
    width: 1120px;
    
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.migracion-cartas {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: left;
    padding: 20px;
    justify-content: space-between;
    color: #ffffff
}

.migracion-carta {
    background-color: #2F1C6A;
    border-radius: 15px;
    border: 1px solid #2F1C6A;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.icono-migracion-carta {
    display: flex;
    flex-direction: row;
    gap: 10px;

    background-color: #673de6;
    border-radius: 10px;
    width: 35px;
    padding: 5px;
    text-align: center;
}



.titulo-migracion-header {
    color: #1d1e20;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.parrafo-migracion-header {
    color: #1d1e20;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.titulo-migracion {
    text-align: center;
    color: #ffffff;
}


.footer-migracion {
    display: flex;
    flex-direction: row;
    justify-content: center;

}


/*.migracion-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:#ffffff;
    justify-content: center;
    padding: 10px;
    
}*/


.secondary-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    color: white;
    padding: 11px 47px;

}

.secondary-btn a {
    display: flex;
    align-items: center;
    font-weight: 700;
    color:#673de6;
    /*padding: 11 px 47px;*/
    text-align: center;
    text-decoration: none;

}

.secondary-btn:hover {
    background-color: #e0d9fa;
    cursor: pointer;
}





/*Section Hero*/

.hero {
    display: flex;
    flex-direction: row;
    /*background-color: #673DE6;*/
    width: 100vw;
    height: 100vh;
    
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 80px 0 80px;
    gap:50px;
    width: 100%;
    height: 100%;
}

.carta-hero{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.carta-lista {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
    color:#2F1C6A;
    font-weight: bold;

    list-style-type: none;
    text-decoration: none;
    list-style: none;
    gap: 10px; 

}

.bi-check2{
    padding: 0 5px 0 0;
    color:rgb(41, 228, 41);
    font-weight: 700;
}


.carta-titulo {
    color:#2F1C6A;
    font-size: 36px;
    

}

.carta-epigrafe{
    color:#2F1C6A;
    
}

.pago-hero{
    display: flex;
    align-items: end;
    color: #2F1C6A;
    gap: 5px;

}

.ars-hero{
    font-size: 18px;
}

.precio-hero{
    font-size: 20px;
}

.gratis-hero{
    color:#2F1C6A;
}
.pago-hero-grande{
    display: flex;
    flex-direction: column;
    gap: 5px;


}



.garantia-hero{
    display: flex;
    gap: 5px;
    color:#2F1C6A


}

.boton-carta{
    display: flex;
    gap:8px;
    padding: 10px 0 5px 0;
    


}

.boton-principal-hero {
    background-color: #673DE6;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 160px;
    height: 40px;
}

.boton-contador-hero {
    background-color:#bfb6db;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: default;
    width: 160px;
    height: 40px;
    
}

.boton-carta button:hover {
    cursor:pointer;
}

.section-hero-imagen{
    display: flex;
    
    
    
}

.bi-shield-check{
    padding: 0 5px;
}

.section-hero-imagen img{
    display: flex;
    height: 570px;
    
}



.hero-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    padding: 10px;

}



/*boton ask*/
.kode {
    color: white;
    background-color: #673DE6;
    border-radius: 50px;
    font-size: 14px;
    padding: 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    position: fixed;
    right: 16px;
    bottom: 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.kode :hover{
    cursor: pointer;
}


/*TABLET*/

@media (max-width: 992px) {
  /* HEADER */
  .header {
    flex-wrap: wrap;
    height: auto;
    padding: 10px 20px;
  }

  .nav ul {
    display: none;
  }

  /* HERO */
  .hero {
    height: auto;
    
  }

  .hero-content {
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    padding: 20px 20px 20px 20px;
  }

  .section-hero-imagen img {
    
    width: 100%;
    height: 100%;


  }

  .carta-hero {
    padding: 20px;
    align-items: flex-start;
  }

  .boton-carta {
    justify-content: center;
    flex-wrap: wrap;
  }

  /* MIGRACIÓN */
  .seccion-migracion {
    height: auto;
    padding: 100px 20px;
  }

  .migracion-cartas {
    flex-direction: column;
    align-items: center;
  }

  .migracion-carta {
    max-width: 90%;
  }
}

/*MOBILE*/

@media (max-width: 576px) {
  /* HEADER */
  .header {
    flex-direction: row;
    align-items: space-between;
    
  }

  .header-izquierdo,
  .header-derecho {
    
    align-items: center;
    gap: 10px;
    padding: 2px 4 px 2px ;
  }

  .nav ul {
    display:none;
  }

  .header-derecho img {
    display:none;
  }

    .header-derecho a {
    display:none;
  }
  /* HERO */
  .hero-content {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .carta-titulo {
    font-size: 1.8rem;
  }

  .carta-epigrafe {
    font-size: 1rem;
  }

  .boton-principal-hero,
  .boton-contador-hero {
    width: 150px;
  }

  .boton-carta {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .section-hero-imagen img {
    max-width: 90%;
    height: auto;
  }

  /* SECCIÓN MIGRACIÓN */
  .seccion-migracion {
    flex-direction: column;
    height: auto;
    padding: 60px 20px;
  }

  .seccion-migracion-contenido{
    display: flex;
    max-width: 100%;
  } 

  .migracion-cartas {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .migracion-carta {
    width: 100%;
    padding: 24px;
  }

  .titulo-migracion h1 {
    font-size: 1.5rem;
  }

  .parrafo-migracion-header p {
    font-size: 1rem;
  }

  .secondary-btn {
    width: 150px;
    justify-content: center;
  }
}